[main]

ignore-patterns=(_version.py|test_(.*).py|conftest.py)

enable =
    logging-not-lazy

disable =
    logging-fstring-interpolation

generated-members =
    pygit2.GIT_OBJ_COMMIT
    pygit2.GIT_OBJ_TAG
    pygit2.GIT_REFERENCES_TAGS
    pygit2.GIT_SORT_NONE
    pygit2.GitError
    pygit2.Object
    pygit2.Signature
